<div class="container mt-5 text-xl-center">

    <div class="row mb-5">
        <h1 class="col-8">Liste Des Dossiers</h1>
        <a (click)="ajouterDocument()" class="btn btn-success col-2">Ajouter</a>
    </div>

    <div *ngIf="alertAjout" class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Dossier bien ajouté!</h4>
    </div>

    <div *ngIf="alertNonAjout" class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4 class="alert-heading">Impossible d'ajouter un dossier vide!</h4>
    </div>

    <div class="mx-auto container-fluid" *ngIf="formShow" style="
        margin-bottom: 15px;
        border-color: #4bbf73;
        border: solid;
        padding: 10px;
        padding-left: 25px;
        ">
        <legend *ngIf="ajoutDocument">
            <h3>Ajouter un nouveau Dossier </h3>
        </legend>

        <div class="row mx-auto mt-lg-5">
            <h4 class="col-4 text-xl-center">Rendez-Vous</h4>
            <div class="col-8">
                <select [(ngModel)]="rdvId" class="form-control">
                    <option selected disabled>Choisissez le Rendez-Vous</option>
                    <option [value]="rdv.rdvId" *ngFor="let rdv of rdvs"><b>PATIENT:</b> {{rdv.patient.nom}} {{rdv.patient.prenom}}. DATE: {{rdv.date}} </option>
                </select>
            </div>
        </div>

        <div class="row">
            <ul class="list-group col-4 mt-5">
                <h3 class="text-success bold">Medicaments <span (click)="showMedicamentForm()" style="cursor: pointer;" class="badge badge-success badge-pill"><i class="fas fa-plus"></i></span> </h3>
                <b *ngIf="medicamentAjou?.length == 0">Aucun Medicament</b>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let medi of medicamentAjou">
                    <b>{{getMedicamentByFilter(medi.medicamentId)}}</b> Quantité: {{medi.quantite}}
                    <span (click)="deleteMedicament(medi.medicamentId)" class="badge badge-danger badge-pill float-right" style="cursor: pointer;">
                        x
                    </span>
                </li>
            </ul>
            <ul class="list-group col-4 mt-5">
                <h3 class="text-info">Les Soins <span (click)="showSoinForm()" style="cursor: pointer;" class="badge badge-info badge-pill"><i class="fas fa-plus"></i></span></h3>
                <b *ngIf="soinAjou?.length == 0">Aucun Soin ajouté</b>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let soin of soinAjou">
                    <b>{{getSoinByFilter(soin.soinId)}}</b>
                    <span (click)="deleteSoin(soin.soinId)" class="badge badge-danger badge-pill float-right" style="cursor: pointer;">
                        x
                    </span>
                </li>
            </ul>
            <ul class="list-group col-4 mt-5">
                <h3 class="text-warning">Les Scanners <span (click)="showScannerForm()" style="cursor: pointer;" class="badge badge-warning badge-pill"><i class="fas fa-plus"></i></span></h3>
                <b *ngIf="scannerAjou?.length == 0">Aucun Scanner ajouté</b>
                <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let scanner of scannerAjou">
                    <b>{{getScannerByFilter(scanner.scannerId)}}</b>
                    <span (click)="deleteScanner(scanner.scannerId)" class="badge badge-danger badge-pill float-right" style="cursor: pointer;">
                        x
                    </span>
                </li>
            </ul>
        </div>

        <div class="container-sm">
            <div *ngIf="formMedicament" class="form-group row mx-auto mt-2">
                <label for="medicament" class="col-sm-4 col-form-label">Ajouter un Medicament</label>
                <div class="col-sm-4">
                    <select class="form-control" id="medicament" [(ngModel)]="medicamentAdded.medicamentId">
                    <option selected disabled>Choisissez le medicament</option>
                    <option *ngFor="let medicament of medicamentFront" [value]="medicament.medicamentId">
                        {{medicament.name}}
                    </option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <input type="number" class="form-control" placeholder="Quantité" [(ngModel)]="medicamentAdded.quantite">
                </div>
                <button (click)="ajouterMedicament()" class="btn btn-success col-sm-1">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div *ngIf="formSoin" class="form-group row mx-auto mt-2">
                <label for="soin" class="col-sm-4 col-form-label">Ajouter un Soin</label>
                <div class="col-sm-7">
                    <select class="form-control" id="soin" [(ngModel)]="soinAdded.soinId">
                    <option selected disabled>Choisissez le Soin</option>
                    <option *ngFor="let soin of soinFront" [value]="soin.soinId">
                        {{soin.typeSoin}}
                    </option>
                    </select>
                </div>
                <button (click)="ajouterSoin()" class="btn btn-info col-sm-1">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
            <div *ngIf="formScanner" class="form-group row mx-auto mt-2">
                <label for="soin" class="col-sm-4 col-form-label">Ajouter un Scanner</label>
                <div class="col-sm-7">
                    <select class="form-control" id="scanner" [(ngModel)]="scannerAdded.scannerId">
                    <option selected disabled>Choisissez le Scanner</option>
                    <option *ngFor="let scanner of scannerFront" [value]="scanner.scannerId">
                        {{scanner.name}}
                    </option>
                    </select>
                </div>
                <button (click)="ajouterScanner()" class="btn btn-warning col-sm-1">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>

        <button *ngIf="ajoutDocument" class="btn btn-success align-center mt-5" (click)="addDocument()">Ajouter</button>

    </div>

    <div id="accordion" class="mt-5">

        <div *ngFor="let document of documents" class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Patient: {{document.rdvResponse.patient.nom}} {{document.rdvResponse.patient.prenom}} / Medecin: {{document.rdvResponse.medecin.firstName}} {{document.rdvResponse.medecin.lastName}}
          </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    Motif: {{document.rdvResponse.motif}} <br> Date: {{document.rdvResponse.date}}

                </div>
            </div>
        </div>

    </div>
</div>