<div class="container mt-5">
    <h5 class="text-center">Liste des Utilisateurs</h5>

    <div class="container row my-12" *ngIf="userAdd">
        <div class="alert alert-dismissible alert-success" style="width: 100%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Utilisateur {{userAdd}} à été Bien ajouté !</h4>
        </div>
    </div>
    <div class="container row my-12" *ngIf="userEdited">
        <div class="alert alert-dismissible alert-warning" style="width: 100%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Utilisateur {{userEdit.firstName}} à été Bien Modifier !</h4>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">Prenom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Role</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="edit">
                <td><input class="form-control" type="text" [(ngModel)]="userEdit.firstName"></td>
                <td><input class="form-control" type="text" [(ngModel)]="userEdit.lastName"></td>
                <td><input class="form-control" type="text" [(ngModel)]="userEdit.email"></td>
                <td><select class="form-control" [(ngModel)]="userEdit.role.name">
                    <option value="admin">Administrateur</option>
                    <option value="gp">Gestion de personnel</option>
                    <option value="medecin">Medecin</option>
                </select></td>
                <td colspan="2"><button (click)="modifier()" class="btn btn-warning">modifier</button></td>
            </tr>
            <tr *ngFor="let user of users">
                <th scope="row">{{user.firstName}}</th>
                <td>{{user.lastName}} </td>
                <td>{{user.email}} </td>
                <td>{{user.role.name}} </td>

                <td>
                    <a [routerLink]="['/users/edit',user.userID]" (click)="editUser(user)" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <button (click)="deleteUser(user.userID,user.firstName+' '+user.lastName)" class="btn btn-sm btn-dark">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>


        </tbody>
    </table>
</div>
<div class="btn-toolbar mx-auto justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" (click)="paginateTo(1)" class="btn btn-secondary">1</button>
        <button type="button" (click)="paginateTo(2)" class="btn btn-secondary">2</button>
        <button type="button" (click)="paginateTo(3)" class="btn btn-secondary">3</button>
        <button type="button" (click)="paginateTo(4)" class="btn btn-secondary">4</button>

    </div>

</div>