<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/">Clinique Gesture</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul *ngIf="userActuel" class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Acceuil
                         <span class="sr-only">(current)</span>
                    </a>
            </li>
            <li class="nav-item" *ngIf="roleActuel != 'admin'">
                <a class="nav-link" routerLink="/">Patients</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel != 'admin'">
                <a class="nav-link" routerLink="/RDV">Rendez-vous</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel != 'admin'">
                <a class="nav-link" routerLink="/Dossiers">Dossiers</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'medecin'">
                <a class="nav-link" routerLink="/Soins">Mes Soins</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'gp'">
                <a class="nav-link" routerLink="/medicaments">Medicaments</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'gp'">
                <a class="nav-link" routerLink="/scanners">Scanners</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'gp'">
                <a class="nav-link" routerLink="/Factures">Factures</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'admin'">
                <a class="nav-link" routerLink="/users">Voir Utilisateurs</a>
            </li>
            <li class="nav-item" *ngIf="roleActuel == 'admin'">
                <a class="nav-link" routerLink="/users/add">Ajouter</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!userActuel" class="nav-item">
                <a class="nav-link" routerLink="/login">Se connecter</a>
            </li>
            <li *ngIf="userActuel" class="nav-item">
                <button class="btn btn-secondary nav-link" (click)="logout()">Deconnexion</button>
            </li>
        </ul>

    </div>
</nav>