<div class="container mt-5">
    <h5 class="text-center">Liste des Patients</h5>

    <table class="table table-hover">
        <thead>
            <tr class="table-active">
                <th scope="col">Nom complet</th>
                <th scope="col">Telephone</th>
                <th scope="col">Adresse</th>
                <th scope="col">Cin</th>
                <th scope="col">Medecin</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <th scope="row">{{patient.nom}} {{patient.prenom}}</th>
                <td>{{patient.telephone}} </td>
                <td>{{patient.adresse}} </td>
                <td>{{patient.cin}} </td>
                <td>{{patient.user.firstName}} {{patient.user.lastName}} </td>

                <td>
                    <a [routerLink]="[patient.patientId]" class="btn btn-warning btn-sm">
                        <i class="fas fa-edit"></i>
                    </a>
                </td>
                <td>
                    <button class="btn btn-sm btn-dark">
                    <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>

        </tbody>
    </table>
</div>