<p>list-patient works!</p>

<table class="table table-striped table-inverse table-responsive">
    <thead class="thead-inverse">
        <tr>
            <th>dd</th>
            <th>dd</th>
            <th>dd</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row">dd</td>
            <td>ddd</td>
            <td>ddd</td>
        </tr>
        <tr>
            <td scope="row">ddd</td>
            <td>dd</td>
            <td>ddd</td>
        </tr>
    </tbody>
</table>