<div class="container mt-5">
    <div *ngIf="alert" class="container row my-12">
        <div class="alert alert-dismissible alert-danger" style="width: 100%;">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4 class="alert-heading">Ereur: {{message}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-5 mb-5 mx-auto">
            <h5 class="text-center">Ajouter un nouveau Utilisateur</h5>
            <form [formGroup]="addUserForm" (ngSubmit)="addUser()">


                <div class="form-group">
                    <label for="firstName">Prenom*</label>
                    <input class="form-control" autocomplete="off" formControlName="firstName" type="text" id="firstName">
                </div>

                <div class="form-group">
                    <label for="lastName">Nom*</label>
                    <input class="form-control" autocomplete="off" formControlName="lastName" type="text" id="lastName">
                </div>

                <div class="form-group">
                    <label for="role">Role*</label>
                    <select class="form-control" autocomplete="off" formControlName="role" id="role">
                        <option value="admin">Administrateur</option>
                        <option value="gp">Gestion de personnel</option>
                        <option value="medecin">Medecin</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="email">Email*</label>
                    <input autocomplete="off" formControlName="email" type="text" [ngClass]="(addUserForm.get('email').invalid && (addUserForm.get('email').touched || addUserForm.get('email').dirty))?
                    'form-control is-invalid':'form-control'" id="email">
                    <div class="invalid-feedback" *ngIf="addUserForm.get('email').invalid && (addUserForm.get('email').touched || addUserForm.get('email').dirty)">
                        <div *ngIf="addUserForm.get('email').getError('required')">L'adresse email est obligatoire</div>
                        <div *ngIf="addUserForm.get('email').getError('email')">Cette adresse ne correspond pas à un email</div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input formControlName="password" type="password" [ngClass]="(addUserForm.get('password').invalid && (addUserForm.get('password').touched || addUserForm.get('password').dirty))?
                    'form-control is-invalid':'form-control'" id="password">
                    <div class="invalid-feedback" *ngIf="addUserForm.get('password').invalid && (addUserForm.get('password').touched || addUserForm.get('password').dirty)">
                        <div *ngIf="addUserForm.get('password').getError('required')">Le mot de passe est obligatoire</div>
                        <div *ngIf="addUserForm.get('password').getError('pattern')">Le mot de passe doit contenir au minimum 8 caractères</div>
                    </div>
                </div>
                <button [disabled]="addUserForm.invalid" class="btn btn-block btn-success">Ajouter</button>
            </form>
        </div>
    </div>
</div>