<div class="container mt-5 text-xl-center">
    <div class="row mb-5">
        <a (click)="showFilter()" class="btn btn-warning col-2">Filtrer</a>
        <h1 class="col-8  ">Liste des Rendez-vous</h1>
        <a (click)="showForm()" class="btn btn-success col-2">Créer</a>
    </div>

    <div class="mx-auto" *ngIf="filterShow" style="
    border-style: solid;
    margin-bottom: 15px;
    border-color: #f0ad4e;
">
        <legend>Filter</legend>

        <div class="form-group row mx-auto mt-2">


            <label for="etat" class="col-sm-4 col-form-label">Etat</label>
            <div class="col-sm-6">
                <select class="form-control" id="etat" [(ngModel)]="rdvSearch.state">
                    <option selected disabled>Choisissez l'etat</option>
                    <option value="fixé">Fixé</option>
                    <option value="validé">Validé</option>
                    <option value="annulé">Annulé</option>
                    <option value="reporté">Reporté</option>

                </select>
            </div>
        </div>
        <div class="form-group row mx-auto mt-2">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="date" [(ngModel)]="rdvSearch.date" type="date">
            </div>
            <label for="debut" class="col-sm-1 col-form-label">De</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="debut" [(ngModel)]="rdvSearch.startTime">
            </div>
            <label for="fin" class="col-sm-1 col-form-label">À</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="fin" [(ngModel)]="rdvSearch.endTime">
            </div>
        </div>

        <button class="btn btn-warning" (click)="filter()">Filter</button>

    </div>

    <div class="mx-auto" *ngIf="formShow" style="
    border-style: solid;
    margin-bottom: 15px;
    border-color: #4bbf73;
">
        <legend>Créer un Rendez Vous</legend>

        <div class="form-group row mx-auto mt-2">
            <label for="Motif" class="col-sm-2 col-form-label">Motif</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Motif" placeholder="Motif du Rendez vous" [(ngModel)]="rdv.motif" required>
            </div>

            <label for="Patient" class="col-sm-1 col-form-label">Patient</label>
            <div class="col-sm-2">
                <select class="form-control" id="Patient" [(ngModel)]="rdv.patientId" required>
                    <option selected disabled>Choisissez le patient</option>
                    <option *ngFor="let patient of patients" [value]="patient.patientId">
                        {{getPatientName(patient.patientId)}}
                    </option>
                </select>
            </div>

            <label *ngIf="role == 'gp'" for="medecin" class="col-sm-1 col-form-label">Medecin</label>
            <div class="col-sm-2" *ngIf="role == 'gp'">
                <select class="form-control" id="medecin" [(ngModel)]="rdv.medecinId" required>
                    <option selected disabled>Choisissez le medecin</option>
                    <option *ngFor="let medecin of medecins" [value]="medecin.userID">
                        {{medecin.firstName}} {{medecin.lastName}}
                    </option>
                </select>
            </div>


        </div>
        <div class="form-group row mx-auto mt-2">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="date" [(ngModel)]="rdv.date" type="date" required>
            </div>
            <label for="debut" class="col-sm-1 col-form-label">De</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="debut" [(ngModel)]="rdv.startTime" required>
            </div>
            <label for="fin" class="col-sm-1 col-form-label">À</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="fin" [(ngModel)]="rdv.endTime" required>
            </div>
        </div>

        <button class="btn btn-success" (click)="addRdv()">Créer</button>

    </div>

    <div *ngIf="chargement" class="row d-flex justify-content-around">
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>
        <div class="spinner-grow text-success"></div>
        <div class="spinner-grow text-info"></div>
        <div class="spinner-grow text-warning"></div>
        <div class="spinner-grow text-danger"></div>

    </div>
    <div class="row">
        <div *ngIf="chargementAjout" class="card col-4 mb-3 mx-auto border-info d-flex justify-content-around" style="max-width: 20rem;">
            <div class="spinner-grow text-info mx-auto" style="width: 4rem;height: 4rem;"></div>
        </div>

        <div *ngFor="let rdv of rdvs" class="card col-4 mb-3 mx-auto" style="max-width: 20rem;" [ngClass]="{'border-warning': rdv.state == 'reporté', 'border-info': rdv.state == 'fixé', 'border-success': rdv.state == 'validé', 'border-danger': rdv.state == 'annulé'}">

            <div class="card-header">
                <span *ngIf="rdv.state == 'reporté'" class="badge badge-warning badge-pill float-left">Reporté</span>
                <span *ngIf="rdv.state == 'validé'" class="badge badge-success badge-pill float-left">Validé</span>
                <span *ngIf="rdv.state == 'annulé'" class="badge badge-danger badge-pill float-left">Annulé</span>
                <span (click)="annulerRdv(rdv)" *ngIf="rdv.state == 'fixé'" class="badge badge-danger badge-pill float-left" style="cursor: pointer;">x</span> {{ rdv.patient.nom }} {{ rdv.patient.prenom }}
                <span (click)="reportDateShow=rdv.rdvId" *ngIf="rdv.state == 'fixé' || rdv.state == 'reporté'" class="badge badge-info badge-pill float-right" style="cursor: pointer;">
                    <i class="fas fa-notes-medical"></i>
                </span>

            </div>
            <div class="card-body">
                <h4 class="card-title">{{rdv.date}} <br> de {{rdv.startTime}} à {{rdv.endTime}}</h4>
                <p class="card-text"> {{rdv.motif}}</p>
            </div>
            <div *ngIf=" (rdv.state == 'fixé' || rdv.state == 'reporté') && reportDateShow == rdv.rdvId " class="card-footer text-muted row">
                <input style="width: 70%; " type="date" class="form-control" id="date" [(ngModel)]="dateReport" type="date">
                <span (click)="reporter(rdv)" style="cursor: pointer;display: block;height: 50%;position: relative;top: 25%;" class="badge badge-info badge-pill float-right">Reporter</span>
            </div>
        </div>
    </div>


</div>