<div class="container mt-5 text-xl-center">
    <div class="row mb-5">
        <a (click)="showFilter()" class="btn btn-warning col-2">Filtrer</a>
        <h1 class="col-8  ">Liste des Rendez-vous</h1>
        <a (click)="showForm()" class="btn btn-success col-2">Créer</a>
    </div>

    <div class="mx-auto" *ngIf="filterShow" style="
    border-style: solid;
    margin-bottom: 15px;
    border-color: #f0ad4e;
">
        <legend>Filter</legend>

        <div class="form-group row mx-auto mt-2">
            <label for="Patient" class="col-sm-2 col-form-label">Patient</label>
            <div class="col-sm-4">
                <select class="form-control" id="Patient" [(ngModel)]="rdvSearch.patient.id">
                    <option selected disabled>Choisissez le patient</option>
                    <option *ngFor="let patient of patients" [value]="patient.id">
                        {{getPatientName(patient.id)}}
                    </option>
                </select>
            </div>

            <label for="etat" class="col-sm-2 col-form-label">Etat</label>
            <div class="col-sm-4">
                <select class="form-control" id="etat" [(ngModel)]="rdvSearch.etat">
                    <option selected disabled>Choisissez l'etat</option>
                    <option value="fixé">Fixé</option>
                    <option value="fait">Fait</option>
                    <option value="annulé">Annulé</option>
                    <option value="Reporté">Reporté</option>

                </select>
            </div>
        </div>
        <div class="form-group row mx-auto mt-2">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="date" [(ngModel)]="rdvSearch.date" type="date">
            </div>
            <label for="debut" class="col-sm-1 col-form-label">De</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="debut" [(ngModel)]="rdvSearch.debut">
            </div>
            <label for="fin" class="col-sm-1 col-form-label">À</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="fin" [(ngModel)]="rdvSearch.fin">
            </div>
        </div>

        <button class="btn btn-warning" (click)="filter()">Filter</button>

    </div>

    <div class="mx-auto" *ngIf="formShow" style="
    border-style: solid;
    margin-bottom: 15px;
    border-color: #4bbf73;
">
        <legend>Créer un Rendez Vous</legend>

        <div class="form-group row mx-auto mt-2">
            <label for="Patient" class="col-sm-2 col-form-label">Patient</label>
            <div class="col-sm-4">
                <select class="form-control" id="Patient" [(ngModel)]="rdv.patientId" required>
                    <option selected disabled>Choisissez le patient</option>
                    <option *ngFor="let patient of patients" [value]="patient.id">
                        {{getPatientName(patient.id)}}
                    </option>
                </select>
            </div>

            <label for="Motif" class="col-sm-2 col-form-label">Motif</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="Motif" placeholder="Motif du Rendez vous" [(ngModel)]="rdv.motif" required>
            </div>
        </div>
        <div class="form-group row mx-auto mt-2">
            <label for="date" class="col-sm-2 col-form-label">Date</label>
            <div class="col-sm-4">
                <input type="date" class="form-control" id="date" [(ngModel)]="rdv.date" type="date" required>
            </div>
            <label for="debut" class="col-sm-1 col-form-label">De</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="debut" [(ngModel)]="rdv.debut" required>
            </div>
            <label for="fin" class="col-sm-1 col-form-label">À</label>
            <div class="col-sm-2">
                <input type="time" class="form-control" id="fin" [(ngModel)]="rdv.fin" required>
            </div>
        </div>

        <button class="btn btn-success" (click)="addRdv()">Créer</button>

    </div>
    <div class="row">
        <div *ngFor="let rdv of rdvs" class="card col-4 mb-3 mx-auto" style="max-width: 20rem;" [ngClass]="{'border-warning': rdv.etat == 'Reporté', 'border-info': rdv.etat == 'fixé', 'border-success': rdv.etat == 'fait', 'border-danger': rdv.etat == 'annulé'}">

            <div class="card-header">
                <span *ngIf="rdv.etat == 'Reporté'" class="badge badge-warning badge-pill float-left">Reporté</span>
                <span *ngIf="rdv.etat == 'fait'" class="badge badge-success badge-pill float-left">Traité</span>
                <span *ngIf="rdv.etat == 'annulé'" class="badge badge-danger badge-pill float-left">Annulé</span>
                <span (click)="annulerRdv(rdv)" *ngIf="rdv.etat == 'fixé'" class="badge badge-danger badge-pill float-left" style="cursor: pointer;">x</span> {{ rdv.patient.nom }} {{ rdv.patient.prenom }}
                <span *ngIf="rdv.etat == 'fixé'" class="badge badge-info badge-pill float-right" style="cursor: pointer;">
                    <i class="fas fa-notes-medical"></i>
                </span>

            </div>
            <div class="card-body">
                <h4 class="card-title">{{rdv.date}} <br> de {{rdv.debut}} à {{rdv.fin}}</h4>
                <p class="card-text"> {{rdv.motif}}</p>
            </div>
            <div *ngIf="rdv.etat == 'fixé'" class="card-footer text-muted row">
                <input style="width: 70%; " type="date" class="form-control" id="date" [(ngModel)]="dateReport" type="date">
                <span (click)="reporter(rdv)" style="cursor: pointer;display: block;height: 50%;position: relative;top: 25%;" class="badge badge-info badge-pill float-right">Reporter</span>
            </div>
        </div>

    </div>
</div>